.navigation{
    margin: 15px 0;
}

.navigation a{
    font-size: 26px;
}

.navigation span{
    font-size: 17px;
}

.navigation .basket-quantity{
    font-size: 13px;
    background: #337ab7;
    display: inline-block;
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    border-radius: 14px;
    position: relative;
    top: -15px;
    left: -10px;
    line-height: 20px;
}

.navigation a:hover .basket-quantity,
.navigation a:focus .basket-quantity{
    background: #23527c;
}